<div class="knowledge">
    <div class="max">
        <h1 class="md-headline">Knowledge Base</h1>
        Below is some further information on the current plans for .NET Standard support for some popular packages, as well as
        a list of packages that have replacements available.
        <md-tabs>
            <md-tab label="Information">
                <p class="more-information" ng-repeat="info in vm.moreInformation">
                    <strong>{{info.id}}<span ng-show="info.startsWith">*</span></strong><br/>
                    <span ng-show="info.message">{{info.message}}<br /></span>
                    <external-link ng-show="info.url" href="{{info.url}}"><span>{{ info.linkText ?? 'More Information'}}</span></external-link>
                </p>
            </md-tab>
            <md-tab label="Replacements">
                <p class="more-information" ng-repeat="info in vm.replacements">
                    <strong>{{info.id}}<span ng-show="info.startsWith">*</span></strong><br />
                    <span ng-show="info.message">{{info.message}}<br /></span>
                    <external-link ng-show="info.url" href="{{info.url}}"><span>{{ info.linkText ?? 'Details'}}</span></external-link>
                </p>
            </md-tab>
        </md-tabs>
    </div>
</div>

