<div class="statistics">
    <div class="max">
        <h1 class="md-headline">Statistics</h1>
        <p>
            We keep statistics on how many times each package shows up as a dependency. Only public packages found
            on nuget.org are included. The statistics are grouped by detected .NET Standard support result the
            last time the package was queried.
        </p>
        <p>
            <external-link href="https://github.com/OctopusDeploy/ICanHasDotnetCore/blob/master/source/Web/Features/Statistics/StatisticsRepository.cs">See exactly how we collect statistics</external-link>.
        </p>
    </div>

    <div layout="column" layout-gt-md="row" layout-align-gt-md="center start">
        <div flex="30" class="group" ng-repeat="type in vm.typeGroups">
            <package-result-box type="type"></package-result-box>
            <div>
                <div class="statistic" ng-repeat="item in vm.statsFor(type)">
                    <div class="count-label">{{item.statistic.count | number}}</div>
                    {{item.statistic.name}}
                    <a href="https://www.nuget.org/packages/{{item.statistic.name}}/" target="_blank"><md-icon class="external-link">search</md-icon></a>
                    <small ng-show="item.moreInformation">
                        <br/>
                        {{item.moreInformation.message}}
                        <external-link ng-show="item.moreInformation.url" href="{{item.moreInformation.url}}">[{{ info.linkText || 'More Information'}}]</external-link>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

