<div layout="column" ng-cloak>
    <md-toolbar layout="row" class="md-hue-2">
        <div class="md-toolbar-tools max md-max">
            <a href="" ui-sref="layout.home">
                <md-icon md-font-set="material-icons">track_changes</md-icon>
                <span flex class="page-title">I Can Has .NET Core</span>
            </a>
            <span flex></span>
            <span class="menu">
                <a href="" ui-sref="layout.home" menu-highlight>Home</a>
                <a href="" ui-sref="layout.resultDemo" menu-highlight>Demo</a>
                <a href="" ui-sref="layout.console" menu-highlight>Console</a>
                <a href="" ui-sref="layout.faq" menu-highlight>FAQ</a>
                <a href="" ui-sref="layout.statistics" menu-highlight>Stats</a>
                <a href="https://github.com/OctopusDeploy/ICanHasDotnetCore" target="_blank">Source<md-icon class="external-link">launch</md-icon></a>
            </span>
        </div>
    </md-toolbar>
    A
    <div class="container main" layout="row" flex>
        B
        <md-content flex id="content">
            C
            <ui-view></ui-view>
        </md-content>
    </div>

    <footer>
        <img src="/images/octopus.png" />
        <p>An <a href="https://octopus.com">Octopus Deploy</a> project</p>
        <p><a href="https://twitter.com/OctopusDeploy"><img src="/images/twitter.png" /></a> <a href="https://twitter.com/OctopusDeploy">@OctopusDeploy</a></p>
        <p>
            <a href="https://github.com/OctopusDeploy/ICanHasDotnetCore">GitHub</a> - Source, suggestions and bugs
        </p>
        <p>
            v{{vm.version}}
        </p>
    </footer>
</div>