@import (reference) "../site";

.md-toolbar-tools {
    margin: auto;

    .menu {
        font-size: 14px;

        a {
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 3px;

           &.active { 
                border-bottom-style: solid;
                border-width: 2px;
                border-color: @accent;
            }
        }
    }

}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 12px;

    img {
        height: 1em;
        margin-right: 5px;
        vertical-align: bottom;
    }

    a {
        color: #999;
    }
}
