.main {
}

.md-toolbar-tools {
    margin: auto;

    .menu {
        font-size: 14px;

        a {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    md-icon {
        vertical-align: bottom;
    }
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 12px;

    img {
        height: 1em;
        margin-right: 5px;
        vertical-align: bottom;
    }

    a {
        color: #999;
    }
}
