<a href="" menu-highlight ui-sref="layout.home"><md-icon>home</md-icon>Home</a>
<a href="" menu-highlight ui-sref="layout.resultDemo"><md-icon>whatshot</md-icon>Demo</a>
<a href="" menu-highlight ui-sref="layout.console"><md-icon>chevron_right</md-icon>Console</a>
<a href="" menu-highlight ui-sref="layout.faq"><md-icon>question_answer</md-icon> FAQ</a>
<a href="" menu-highlight ui-sref="layout.knowledge"><md-icon>visibility</md-icon>Knowledge</a>
<a href="" menu-highlight ui-sref="layout.statistics"><md-icon>pie_chart</md-icon>Stats</a>
<external-link href="https://github.com/OctopusDeploy/ICanHasDotnetCore"><md-icon>code</md-icon>Source</external-link>
