<div class="max statistics">
    <h1 class="md-headline">Statistics</h1>
    <p>
        We keep statistics on how many times each package shows up as a dependency. Only public packages found
        on nuget.org are included. The statistics are grouped by detected .NET Standard support result the
        last time the package was queried.
    </p>
    <p>
        <a href="https://github.com/OctopusDeploy/ICanHasDotnetCore/blob/master/Web/Features/Statistics/StatisticsRepository.cs" target="_blank">See exactly how we collect statistics<md-icon class="external-link">launch</md-icon></a>.
    </p>
    <div class="group" ng-repeat="type in vm.typeGroups">
        <package-result-box type="type"></package-result-box>
        <div>
            <div class="statistic" ng-repeat="stat in vm.statistics | filter: { latestSupportType: type }">
                <div class="count-label">{{stat.count | number}}</div>
                {{stat.name}}
                <a href="https://www.nuget.org/packages?q={{stat.name}}" target="_blank"><md-icon class="external-link">search</md-icon></a>
            </div>
        </div>
    </div>
</div>

