
<form action="/" method="post" enctype="multipart/form-data">
    <table class="table table-bordered table-striped" style="width: auto">
        <thead>
            <tr>
                <th>
                    Project Name
                </th>
                <th>
                    Packages.config
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="add-row">
                <td colspan="2" style="text-align:right">
                    <button class="btn btn-primary" id="add-row"><i class="glyphicon glyphicon-plus-sign"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <input type="submit" class="btn btn-success" value="Compute" />
</form>



@section scripts
{
    <script type="text/javascript">

        var addRow = function () {
            $("#add-row").before("<tr><td><input class='form-control' name='name' /></td><td><input class='form-control' type='file' name='file' accept='.config' /></td></tr>");
        };

        $("#add-row").click(function (e) {
            addRow();
            e.preventDefault();
        });

        addRow();
    </script>
}